body{
  padding: 0px;
  margin: 0px;
}

@media (max-width: 575px){
  .filter{
      flex-direction: column;
  }

  .order-by{
      margin-top: 15px;
  }

  .card-list{
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
}
